<!doctype html>
<html lang="en" ng-app="glowTask">
<head>
  <meta charset="utf-8">
  <title>User info</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/models.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
</head>
<body>
  <div ng-controller="UserFormController">
    <form name="form" novalidate>
      Full Name: <input type="text" name="name" ng-model="userData.name" required="" ng-click="clearErr('name')"/><br/>
      <div ng-show="form.$submitted">
        <div ng-show="form.name.$error.required">Please, type your name.</div>
        <div ng-show="form.name.$error.serverMessage">{{form.name.$error.serverMessage}}</div>
      </div>
      Date of birth: <input type="date" name="birth" ng-model="userData.birth" required=""/><br/>
      <div ng-show="form.$submitted">
        <div ng-show="form.birth.$error.required">Please, select your birthday.</div>
        <div ng-show="form.birth.$error.date">Not a valid date!</div>
      </div>
      Sex: <input type="radio" ng-model="userData.gender" value="male"/>male
           <input type="radio" ng-model="userData.gender" value="female"/>female<br/>
      <div ng-show="serverError">Something went wrong. Please, try again.</div>
      <input type="submit" ng-click="form.$valid && createUser(userData)" value="Save"/>
    </form>
    <ul ng-repeat="user in users">
      <li>{{user.name}}|{{user.birth}}|{{user.gender}}</li>
    </ul>
  </div>
</body>
</html>
